$font-family: "Inter", sans-serif;
$font-size-base: 12px;
$color-text: #000000;
$color-gray: #afafaf;
$color-light-gray: #f2f2f2;
$color-green: #296b77;
$color-yellow: #eccc8c;
$color-black: #000;
$color-white: #fff;
